<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Error HTTP 403</title>
          <link rel="stylesheet" href="static/css/style2.css">
        <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>

    <body>
        <h1>403</h1>
        <h2>El Sitio no esta Disponible<b></b></h2>
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <h2>SGD System <b></b></h2>
        </div>
    </body>
</html>
