<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Error HTTP 404</title>
        <link rel="stylesheet" href="static/css/style2.css">
    </head>

    <body class="loading">
        <h1>404</h1>
        <h2>El Recurso no esta Disponible<b></b></h2>
        <div class="gears">
            <div class="gear one">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear two">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="gear three">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <h2>SGD System <b></b></h2>
        </div>
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
</body>
</html>
