<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <title>Contratos Firmados</title>
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
                <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
                <link rel="shortcut icon" type="image/x-icon" href="static/images/icovaca.ico"  />
                <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
                <script th:src="@{static/js/view/descargageneral.js}"></script>
                <script th:src="@{static/js/view/contratosfirmados.js}"></script>
                </head>
                <body>
                    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-transparent">
                        <h5 class="my-0 mr-md-auto font-weight-normal whiteLetter">Bienvenido, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h5>
                        <a class="ui-buttonhome ui-botton-menu" href="/SGD/menu"></a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="btn btn-outline-primary"/>
                        </form>            
                    </div>
                    <div class="text-center">                        
                        <h1>CONTRATOS FIRMADOS</h1>                        
                    </div>
                    <div class="row text-center">
                        <div class="offset-xs-1 offset-md-1 col-xs-10  col-md-5 Padding-top-botton">
                            <p><a id="Financieros" class="ui-button-contratos">Financieros</a></p>
                        </div>
                        <div class=" offset-xs-1 col-xs-10 col-md-5 Padding-top-botton"> 
                            <p><a id="Provedores" class="ui-button-contratos">Provedores</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xs-1 offset-md-1 col-xs-10  col-md-5 Padding-top-botton">
                            <p><a id="Clientes" class="ui-button-contratos">Clientes</a>
                        </div>
                        <div class="offset-xs-1 col-xs-10 col-md-5 Padding-top-botton">
                            <p><a id="Personal" class="ui-button-contratos">Personal</a>
                        </div>
                    </div>   
                </body>
                </html>
