
<!--
ing_farias@live.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SGD-ESCRITURAS</title>
        <link rel="stylesheet" type="text/css" href="css/vital.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/> 
        <script th:src="@{js/jquery/jquery-3.3.1.js}"></script>
        <script th:src="@{js/view/descargageneral.js}"></script>        
        <script th:src="@{js/view/escrituras.js}"></script>
         <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>

    <body>
            <div class="row header bg-transparent">
                <div>
                    <div class="col-1-2 padding align-left">
                        <p>
                            <h2> Bienvenido,<span th:text="${#authentication.getPrincipal().getUsername()}"></span> </h2>
                        </p> 
                    </div>
                    <div class="col-1-8 padding align-right header-txt"></div>
                    <div class="col-1-4 padding align-right header-txt">
                        <p><a href="/SGD/menu" class="ui-buttonhome ui-botton-menu"></a>
                            <a href="/SGD/documentacionlegal" class="ui-buttonhome ui-botton-regreso"></a>
                        </p>
                    </div>    
                    <div class="col-1-8 padding align-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent "/>
                        </form>
                    </div>
                </div>
            </div>
        <div class="row header center bg-transparent">
            <h1>ESCRITURAS</h1>
        </div>
        <div class="co-1-2-4 padding">

            <form method="POST" th:object="${vinculo}">
                <table>
                    <tr>
                        <td>      
                            <div class="formatolabel">ACTA CONSTITUTIVA</div>    
                        </td>
                        <td>
                            <div class="formatolabel">PODERES</div>    
                        </td>
                        <td>
                            <div class="formatolabel">ACTAS DE ASAMBLEA</div>    
                        </td>
                    </tr>                
                    <tr>
                        <td>
                            <p><a id="ActaConstitutiva" class="menubuttonconsitutiva"></a></p>    
                        </td>
                        <td>
                            <p><a id="Poderes" class="menubuttonconsitutiva"></a></p>                          
                        </td>
                        <td>
                            <p><a href="/SGD/gestor?pantalla=1" class="menubuttonconsitutiva"></a></p>                              
                        </td>
                    </tr>    
                    <tr>
                        <td>
                            <p><a id="ActaInscrRFC" class="uibotonenlace">INSCRIPCION RFC</a></p>                            
                        </td>
                        <td>
                            <p><a id="PoderesInscrRFC" class="uibotonenlace">INSCRIPCION RFC</a></p>                                
                        </td>
                        <td>
                            <p><a id="ReformaInscrRFC" class="uibotonenlace">INSCRIPCION RFC</a></p>                                  
                        </td> 
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
