<!--
ing_farias@live.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>

        <!-- jQuery UI
                    ============================================ -->    
        <link type="text/css" rel="stylesheet" href="static/jqueryui/jquery-ui.min.css" />    
        <script type="text/javascript" src="static/jqueryui/jquery-ui.min.js"></script>   

        <!-- jsGrid
                    ============================================ -->    
        <link type="text/css" rel="stylesheet" href="static/jsgrid/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="static/jsgrid/jsgrid-theme.min.css" />

        <script type="text/javascript" src="static/jsgrid/jsgrid.min.js"></script>   
        <script type="text/javascript" src="static/jqueryui/datepicker-es.js"></script>   

        <!-- view JS
                    ============================================ -->
        <script>
            var pantalla = [[${pantalla}]];
        </script>
        
        <script>
function goBack() {
  window.history.back();
}
</script>
        <script src="static/js/view/descargageneral.js"></script>          
        <script src="static/js/view/gridlist.js"></script>        
        <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>

    <body>
        <div th:replace="encabezadoreturn :: div">...</div>  
        <div></div>
        <div class="container-fluid">       
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                       <h1 class="display-4"><span th:text="${titulo}"></span></h1>
                        </div>
            <div class="row mb-3">
                <div id="jsGrid" class="jsgrid col-12 col-sm-12 themed-grid-col" style="width: 90%"></div>
            </div>        
            <div class="row footer bg-transparent"></div>
        </div>
    </body>
</html>
