<!--
ing_farias@live.com
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SGD</title>
                <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>  
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/> 
        <!-- jquery
                    ============================================  -->
        <script src="js/jquery/jquery-3.4.1.min.js"></script>   

        <!-- jQuery UI
                    ============================================ -->    
        <link type="text/css" rel="stylesheet" href="static/jqueryui/jquery-ui.min.css" />    
        <script type="text/javascript" src="static/jqueryui/jquery-ui.min.js"></script>   

        <!-- jsGrid
                    ============================================ -->    
        <link type="text/css" rel="stylesheet" href="static/jsgrid/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="static/jsgrid/jsgrid-theme.min.css" />

        <script type="text/javascript" src="static/jsgrid/jsgrid.min.js"></script>   
        <script type="text/javascript" src="static/jqueryui/datepicker-es.js"></script>   

        <!-- view JS
                    ============================================ -->
        <script>
            var pantalla = [[${pantalla}]];
        </script>
        
        <script>
function goBack() {
  window.history.back();
}
</script>
        <script src="static/js/view/descargageneral.js"></script>          
        <script src="static/js/view/gridlist.js"></script>        
        <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>

    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-transparent bg-transparent">
            <h5 class="my-0 mr-md-auto font-weight-normal whiteLetter">Bienvenido, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h5>
            <a class="ui-buttonhome ui-botton-menu" href="/SGD/menu"></a>
            <a onclick="goBack()" class="ui-buttonhome ui-botton-regreso"></a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Cerrar sesión" class="btn btn-outline-primary"/>
            </form>            
        </div>   
        <div></div>
        <div class="row header center bg-transparent">
            <h1><span th:text="${titulo}"></span></h1>
        </div>
        <p class="col-2-4"></p>
        <div class="co-1-2-4 padding"></div>
        <div class="co-1-2-4 padding">
            <div id="jsGrid" class="jsgrid" style="position: relative; height: 70%; width: 100%;"></div>
        </div>
        <div class="row footer bg-transparent"></div>
    </body>
</html>
