<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <title>Gobierno Corporativo</title>
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
                <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
                <link rel="shortcut icon" type="image/x-icon" href="static/images/icovaca.ico"  />
                <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
                <script th:src="@{static/js/view/descargageneral.js}"></script>
                <script th:src="@{static/js/view/gobiernocorporativo.js}"></script>
                </head>
                <body>
                    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-transparent">
                        <h5 class="my-0 mr-md-auto font-weight-normal whiteLetter">Bienvenido, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h5>
                        <a class="ui-buttonhome ui-botton-menu" href="/SGD/menu"></a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="btn btn-outline-primary"/>
                        </form>            
                    </div>
                    <div class="text-center">
                        <h1>GOBIERNO CORPORATIVO</h1>
                    </div>
                    <div class="row text-center Padding-top-botton">
                        <div class="offset-md-1 col-md-2">
                            <img src="static/images/conoce.png" class="img-responsive" width="100%" height="auto"/>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="offset-md-4 col-md-3">
                                    <a href="/SGD/gestor?pantalla=5" class="btn btn-lg btn-block btn-info"><h4>Asamblea de Accionistas</h4></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-md-4 col-md-3 Padding-sagarpa">
                                    <a href="/SGD/consejoadministracion" class="btn btn-lg btn-block btn-info"><h4>Consejo de Administracion</h4></a>
                                </div>
                                <div class="offset-md-1 col-md-3 Padding-sagarpa">
                                    <a id="EnlacesCorpo" class="btn btn-lg btn-block btn-info"><h4>Enlaces Corporativos</h4></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 Padding-sagarpa">
                                    <a href="/SGD/comiteinversiones" class="btn btn-lg btn-block btn-info"><h4>Comite Inversiones</h4></a>
                                </div>
                                <div class="offset-md-1 col-md-3 Padding-sagarpa">
                                    <a href="/SGD/comiteinversiones" class="btn btn-lg btn-block btn-info"><h4>Comites Engordas</h4></a>
                                </div>
                                <div class="offset-md-1 col-md-3 Padding-sagarpa">
                                    <a href="/SGD/comitecomercial" class="btn btn-lg btn-block btn-info"><h4>Comite Comercial</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>     
                    <div class="row text-center Padding-sagarpa">
                        <div class=" offset-md-1 col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/protocoloAccio.jpg" class="img-thumbnail"/>
                                <a id="ProtocoloAccionistas" class="btn btn-lg btn-block btn-info"><h4>Protocolo de Accionistas</h4></a>
                            </div>               
                        </div>
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/reglasOper.jpg" class="img-thumbnail"/>
                                <a id="#" class="btn btn-lg btn-block btn-info"><h4>Reglas de Operacion</h4></a>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/reglasOper.jpg" class="img-thumbnail"/>
                                <a id="CodigoEtica" class="btn btn-lg btn-block btn-info"><h4>Codigo de Etica</h4></a>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/PlanTrabAnual.jpg" class="img-thumbnail"/>
                                <a href="/SGD/plantrabajo" class="btn btn-lg btn-block btn-info"><h4>Plan de Trabajo Anual</h4></a>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/informaAct.jpg" class="img-thumbnail"/>
                                <a href="/SGD/informeactividades" class="btn btn-lg btn-block btn-info"><h4>Informe de Actividades</h4></a>
                            </div>               
                        </div>  
                    </div>
                </body>
                </html>
