<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>SGD</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="static/images/icovaca.ico"  />
    </head>
<body class="text-center">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 ">AGROPARQUE GANADERO DEL SURESTE</h1>
    </div>

    <div class="container" style="padding-top: 110px">
        <div class="card-deck mb-3 text-center">
            <form class="form-group mx-auto" action="#" th:action="@{/index}" id="loginForm" method="post">
                <label for="inputEmail" class="sr-only">USUARIO</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="USUARIO" required="" autofocus="">
                <label for="inputPassword" class="sr-only">CONTRASEÑA</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="CONTRASEÑA" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">ENTRAR</button>
                <p class="mt-5 mb-3 text-muted">©SayHello 2019</p>
            </form>            
        </div>     
    </div>

</body>
    
</html>
