<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SGD-INFORMACION INDUSTRIA</title>
        
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/> 
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{static/js/view/descargageneral.js}"></script>        
        <script th:src="@{static/js/view/informacionindustria.js}"></script>
         <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="row header bg-transparent">
                <div>
                    <div class="col-1-2 padding align-left">
                        <p>
                            <h2> Bienvenido,<span th:text="${#authentication.getPrincipal().getUsername()}"></span> </h2>
                        </p> 
                    </div>
                    <div class="col-1-8 padding align-right header-txt"></div>
                    <div class="col-1-4 padding align-right header-txt">
                        <p><a href="/SGD/menu" class="ui-buttonhome ui-botton-menu"></a>
                   
                        </p>
                    </div>    
                    <div class="col-1-8 padding align-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent "/>
                        </form>
                    </div>
                </div>
            </div>
        <div></div>
        <center><h1>INFORMACION DE LA INDUSTRIA</h1></center>
        <div class="co-1-2-4 padding">
            <form method="POST" th:object="${vinculo}">
                <table style="width:100%; border: none">
                    <tr style="border: none">
                        <td style="border: none" class="center"><p><a id="EstudiosEconomicos" class="ui-button-contratos1">Estudios Economicos</a></p></td>
                        <td style="border: none" class="center"><p><a id="PrecioGanadoPie" class="ui-button-contratos1">Precio KG Ganado en Pie</a></p></td>
                    </tr>         
                    <tr style="border: none">
                        <td style="border: none" class="center"><p><a id="PrecioCarneCanal" class="ui-button-contratos1">Precio KG Carne en Canal</a></p></td>
                        <td style="border: none" class="center"><p><a id="PrecioAlimento" class="ui-button-contratos1">Precio Alimento</a></p></td>
                    </tr>   
                </table>     
            </form>
        </div>
    </body>
</html>
