<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>        
        <!-- Required meta tags -->
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

                <!-- Bootstrap CSS -->
                <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
                <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
                <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
                <script th:src="@{static/js/view/descargageneral.js}"></script>
                <script th:src="@{static/js/view/informeactividades.js}"></script>
                <title>Informe de Actividades</title>        
                <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>            
                    </head>
                    <body>
                        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-transparent bg-transparent">
                            <h5 class="my-0 mr-md-auto font-weight-normal whiteLetter">Bienvenido, <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h5>
                            <a class="ui-buttonhome ui-botton-menu" href="/SGD/menu"></a>
                            <a onclick="goBack()" class="ui-buttonhome ui-botton-regreso"></a>
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Cerrar sesión" class="btn btn-outline-primary"/>
                            </form>            
                        </div>   
                        <div class="text-center">
                            <h1>INFORME DE ACTIVIDADES</h1>
                        </div> 
                        <div class="row text-center">
                            <div class="offset-sm-2 col-sm-8 offset-md-5 col-md-2 Padding-top-botton">
                                <select id="year" style="width: 100%">
                                    <option th:each="valor : ${lista}" th:value="${valor.descripcion}" th:text="${valor.descripcion}">
                                    </option>
                                </select>                    
                            </div>   
                        </div> 
                        <div class="container">
                            <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Q1</h4>
                                    </div>
                                    <div class="card-body">
                                        <p><a id="ENERO" class="btn btn-lg btn-block btn-light menubutton">ENERO</a></p>
                                        <p><a id="FEBRERO" class="btn btn-lg btn-block btn-light menubutton">FEBRERO</a></p>
                                        <p><a id="MARZO" class="btn btn-lg btn-block btn-light menubutton">MARZO</a></p>  
                                    </div>
                                </div>
                                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Q2</h4>
                                    </div>
                                    <div class="card-body">
                                        <p><a id="ABRIL" class="btn btn-lg btn-block btn-light menubutton">ABRIL</a></p>
                                        <p><a id="MAYO" class="btn btn-lg btn-block btn-light menubutton">MAYO</a></p>
                                        <p><a id="JUNIO" class="btn btn-lg btn-block btn-light menubutton">JUNIO</a></p>  
                                    </div>
                                </div>
                                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Q3</h4>
                                    </div>
                                    <div class="card-body">
                                        <p><a id="JULIO" class="btn btn-lg btn-block btn-light menubutton">JULIO</a></p>
                                        <p><a id="AGOSTO" class="btn btn-lg btn-block btn-light menubutton">AGOSTO</a></p>
                                        <p><a id="SEPTIEMBRE" class="btn btn-lg btn-block btn-light menubutton">SEPTIEMBRE</a></p> 
                                    </div>
                                </div>
                                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Q4</h4>
                                    </div>
                                    <div class="card-body">
                                        <p><a id="OCTUBRE" class="btn btn-lg btn-block btn-light menubutton">OCTUBRE</a></p>
                                        <p><a id="NOVIEMBRE" class="btn btn-lg btn-block btn-light menubutton">NOVIEMBRE</a></p>
                                        <p><a id="DICIEMBRE" class="btn btn-lg btn-block btn-light menubutton">DICIEMBRE</a></p> 
                                    </div>
                                </div>
                            </div>
                        </div>                                
                    </body>
                    </html>
