<!--
ing.jorge.eduardo.p@gmail.com
-->
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>        
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <title>SGD</title>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm bg-transparent">
            <h5 class="my-0 mr-md-auto font-weight-normal whiteLetter">Bienvenido Jorge</h5>
            <a class="btn btn-outline-primary" href="#">Home</a>
            <a class="btn btn-outline-primary" href="#">Cerrar Sesión</a>
        </div>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4 ">AGROPARQUE GANADERO DEL SURESTE</h1>
            <h1 class="display-4">ARCHIVO DIGITAL</h1>
        </div>
        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                    <div class="card-body" >
                        <button type="button" class="btn btn-lg btn-block btn-light">DOCUMENTACION LEGAL</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">CONTRATOS FIRMADOS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">SAGARPA</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">GOBIERNO CORPORATIVO</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">FACTURAS DE ACTIVOS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">AVALUO DE ACTIVOS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">ESTRUCTURA | ORGANIGRAMAS</button>
                    </div>
                </div>
                <div class="card mb-4 shadow-sm bg-transparent" style="border-color: white">
                    <div class="card-body">
                        <button type="button" class="btn btn-lg btn-block btn-light">ESTADOS FINANCIEROS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">REPORTE DE VENTAS MENSUAL</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">PRESENTACIONES CORPORATIVAS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">PROYECTO EJECUTIVO</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">SEGUROS</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">TRAZABILIDAD</button>
                        <button type="button" class="btn btn-lg btn-block btn-light">INFORMACION DE LA INDUSTRIA</button>
                    </div>
                </div>
            </div>           
        </div>        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{popper/popper.min.js}"></script>
        <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
