<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plan de Trabajo</title>
        <link rel="stylesheet" type="text/css" href="css/vital.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <!-- Full Calendar
                    ============================================ -->
        <link href="js/packages/core/main.css" rel="stylesheet" />
        <link href="js/packages/daygrid/main.css" rel="stylesheet" />
        <link href="js/packages/timegrid/main.css" rel="stylesheet" />
        <link href="js/packages/list/main.css" rel="stylesheet" />
        <script src="js/packages/core/main.js"></script>
        <script src="js/packages/core/locales-all.js"></script>
        <script src="js/packages/interaction/main.js"></script>
        <script src="js/packages/daygrid/main.js"></script>
        <script src="js/packages/timegrid/main.js"></script>
        <script src="js/packages/list/main.js"></script>
        <!-- view JS
                    ============================================ -->
        <script src="js/calendario.js"></script>
        <script th:src="@{js/jquery/jquery-3.3.1.js}"></script>
        <script th:src="@{js/view/plantrabajo.js}"></script>
        <script th:src="@{js/view/descargageneral.js}"></script>
        <!-- view CSS
                    ============================================ -->
        <link rel="stylesheet" type="text/css" href="css/calendario.css"/>
        
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <div class="row header bg-transparent">
                <div>
                    <div class="col-1-2 padding align-left">
                        <p>
                            <h2> Bienvenido,<span th:text="${#authentication.getPrincipal().getUsername()}"></span> </h2>
                        </p> 
                    </div>
                    <div class="col-1-8 padding align-right header-txt"></div>
                    <div class="col-1-4 padding align-right header-txt">
                        <p><a href="/SGD/menu" class="ui-buttonhome ui-botton-menu"></a>
                            <a onclick="goBack()" class="ui-buttonhome ui-botton-regreso"></a>
                        </p>
                    </div>    
                    <div class="col-1-8 padding align-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent "/>
                        </form>
                    </div>
                </div>
            </div>
        <div class="notice" data-sel-notice="" id="notice" hidden="true">
            <div class="inner">
                <p id="flash_message" data-sel-notice-message="">
                </p><p>El archivo no se encuentra disponible. Por favor contacte al Administrador.</p>
                <span class="close-flash-message" onclick="document.getElementById('notice').style.display = 'none'; return false;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" title="Dismiss">
                        <path d="M44.4 7.7l-2.1-2.1L25 22.9 7.7 5.6 5.6 7.7 22.9 25 5.6 42.3l2.1 2.1L25 27.1l17.3 17.3 2.1-2.1L27.1 25z"></path>
                    </svg>
                </span>
                <p></p>
            </div>
        </div>
        <div class="row header center bg-transparent">
            <h1>
                PLAN DE TRABAJO ANUAL
            </h1>
        </div> 
        <!-- Calendario --> 
        <div><center><a class="btn large solid gray opacity-7" id="plantrabajo">Descargar Plan de Trabajo</a></center></div>        
        <div id='calendar'></div>
        <!-- Calendario end -->    
        <!--<div class="row footer bg-transparent">
            <div class="circleBase type1"></div>
        </div>-->  
    </body>
</html>
