<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Plan de Trabajo</title>
        <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>        
        <!-- Full Calendar
                    ============================================ -->
        <link href="js/packages/core/main.css" rel="stylesheet" />
        <link href="js/packages/daygrid/main.css" rel="stylesheet" />
        <link href="js/packages/timegrid/main.css" rel="stylesheet" />
        <link href="js/packages/list/main.css" rel="stylesheet" />
        <script src="js/packages/core/main.js"></script>
        <script src="js/packages/core/locales-all.js"></script>
        <script src="js/packages/interaction/main.js"></script>
        <script src="js/packages/daygrid/main.js"></script>
        <script src="js/packages/timegrid/main.js"></script>
        <script src="js/packages/list/main.js"></script>
        <!-- view JS
                    ============================================ -->
        <script src="js/calendario.js"></script>
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{static/js/view/plantrabajo.js}"></script>
        <script th:src="@{static/js/view/descargageneral.js}"></script>
        <!-- view CSS
                    ============================================ -->
        <link rel="stylesheet" type="text/css" href="css/calendario.css"/>
    </head>
    <body>
        <div th:replace="encabezadoreturn :: div">...</div>      
        <div class="notice" data-sel-notice="" id="notice" hidden="true">
            <div class="inner">
                <p id="flash_message" data-sel-notice-message="">
                </p><p>El archivo no se encuentra disponible. Por favor contacte al Administrador.</p>
                <span class="close-flash-message" onclick="document.getElementById('notice').style.display = 'none'; return false;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" title="Dismiss">
                        <path d="M44.4 7.7l-2.1-2.1L25 22.9 7.7 5.6 5.6 7.7 22.9 25 5.6 42.3l2.1 2.1L25 27.1l17.3 17.3 2.1-2.1L27.1 25z"></path>
                    </svg>
                </span>
                <p></p>
            </div>
        </div>
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">PLAN DE TRABAJO ANUAL</h1>
        </div>
        <div class="container">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 shadow-sm bg-transparent">
                    <div class="card-body" >
                        <p><a style="color: black;" class="btn btn-lg btn-block btn-light" id="plantrabajo">Descargar Plan de Trabajo</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Calendario -->
        <div id='calendar'></div>
        <!-- Calendario end -->    
        <!--<div class="row footer bg-transparent">
            <div class="circleBase type1"></div>
        </div>-->  
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{static/popper/popper.min.js}"></script>
        <script th:src="@{static/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
