<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SGD</title>     
        
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/notice.css"/>
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{static/js/view/descargageneral.js}"></script>
        <script th:src="@{static/js/view/proyectoejecutivo.js}"></script>
         <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>

    <body>
          <div class="row header bg-transparent">
                <div>
                    <div class="col-1-2 padding align-left">
                        <p>
                            <h2> Bienvenido,<span th:text="${#authentication.getPrincipal().getUsername()}"></span> </h2>
                        </p> 
                    </div>
                    <div class="col-1-8 padding align-right header-txt"></div>
                    <div class="col-1-4 padding align-right header-txt">
                        <p><a href="/SGD/menu" class="ui-buttonhome ui-botton-menu"></a>
                   
                        </p>
                    </div>    
                    <div class="col-1-8 padding align-right">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent "/>
                        </form>
                    </div>
                </div>
            </div>
        <div></div>
        <div class="notice" data-sel-notice="" id="notice" hidden="true">
            <div class="inner">
                <p id="flash_message" data-sel-notice-message="">
                </p><p>El archivo no se encuentra disponible. Por favor contacte al Administrador.</p>
                <span class="close-flash-message" onclick="document.getElementById('notice').style.display = 'none'; return false;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" title="Dismiss">
                        <path d="M44.4 7.7l-2.1-2.1L25 22.9 7.7 5.6 5.6 7.7 22.9 25 5.6 42.3l2.1 2.1L25 27.1l17.3 17.3 2.1-2.1L27.1 25z"></path>
                    </svg>
                </span>
                <p></p>
            </div>
        </div>
        <div class="row header center bg-transparent">
            <h1>
                PROYECTO EJECUTIVO
            </h1>
        </div>
        <div class="contents bg-transparent padding">
            <div class="row padding">
                <div class="col-1-4 padding">
                    <div class="border rounded">
                        <h1 class="center">TERRENO</h1>
                        <p><a id="estructuraterreno" class="btn large solid gray menubutton">ESTRUCTURA DEL<br>TERRENO</a></p>
                        <p><a id="avaluoterreno" class="btn large solid gray menubutton">AVALUO<br>TERRENO</a></p>           
                    </div>
                </div>
                <div class="col-1-4 padding">
                    <div class="border rounded">
                        <h1 class="center">PROYECTO</h1>
                        <p><a id="proyectoentregado" class="btn large solid gray menubutton">PROYECTO ENTREGADO<br>TIF2000</a></p>
                        <p><a id="programanecesidades" class="btn large solid gray menubutton">PROGRAMA DE<br>NECESIDADES</a></p>
                        <p><a id="programaparticularnecesidades" class="btn large solid gray menubutton">PROGRAMA PARTICULAR<br>NECESIDADES</a></p>       
                        <p><a id="justificacionproyecto" class="btn large solid gray menubutton">JUSTIFICACION DEL<br> PROYECTO</a></p> 
                    </div>
                </div>
                <div class="col-1-4 padding">
                    <div class="border rounded">
                        <h1 class="center">ESTUDIOS</h1>
                        <p><a id="impactosuelos" class="btn large solid gray menubutton">IMPACTO MECANICA<br> DE SUELOS</a></p>
                        <p><a id="impactoambiental" class="btn large solid gray menubutton">ESTUDIO DE IMPACTO<br>AMBIENTAL</a></p>
                        <p><a id="impactovial" class="btn large solid gray menubutton">ESTUDIO DE<br>IMPACTO VIAL</a></p>   
                        <p><a id="energiaelectrica" class="btn large solid gray menubutton">FACTIBILIDAD ENERGIA<br>ELECTRICA</a></p>  
                        <p><a id="estudiohidrologico" class="btn large solid gray menubutton">ESTUDIO<br>HIDROLOGICO</a></p> 
                        <p><a id="usodesuelo" class="btn large solid gray menubutton">FACTIBILIDAD DE USO<br>DE SUELO</a></p> 
                        <p><a id="aguasnacionales" class="btn large solid gray menubutton">CONCESION DE<br>AGUAS NACIONALES</a></p> 
                    </div>
                </div>
                <div class="col-1-4 padding">
                    <div class="border rounded">
                        <h1 class="center">PLANOS</h1>
                        <p><a id="planoregional" class="btn large solid gray menubutton">PLANO DE LOCALIZACION<br>DEL TERRENO REGIONAL</a></p>
                        <p><a id="planorural" class="btn large solid gray menubutton">PLANO DE<br>LOCALIZACION<br>DEL TERRENO RURAL</a></p>
                        <p><a id="planotopografico" class="btn large solid gray menubutton">PLAN<br>TOPOGRAFICO</a></p>
                        <p><a id="ubicacionterreno" class="btn large solid gray menubutton">JUSTIFICACION UBICACION<br>DEL TERRENO</a></p> 
                        <p><a id="planosinfraestructura" class="btn large solid gray menubutton">PLANOS<br>INFRAESTRUCTURA</a></p> 
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>
