<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SGD-REGLAS DE OPERACION</title>
        
        <link rel="stylesheet" type="text/css" href="static/css/style.css"/> 
        <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
        <script th:src="@{static/js/view/descargageneral.js}"></script>        
        <script th:src="@{static/js/view/gobiernocorporativo.js}"></script>
         <link rel="shortcut icon" type="images/x-icon" href="images/favicon.ico">
    </head>
    <body>
        <div class="row header bg-transparent">
            <div>
                <div class="col-1-2 padding align-left">
                    <p>
                        <a href="/SGD/menu" class="header-btn bg-transparent">Inicio</a>
                    </p>
                </div>
                <div class="col-1-8 padding align-right header-txt"></div>
                <div class="col-1-4 padding align-right header-txt">
                    <p>Bienvenido, 
                        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                    </p>
                </div>    
                <div class="col-1-8 padding align-right">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Cerrar sesión" class="header-btn bg-transparent"/>
                    </form>
                </div>
            </div>
        </div>
        <div><hr></hr></div>
        <center><h1>REGLAS DE OPERACION</h1></center>
        <div class="co-1-2-4 padding">
            <form method="POST" th:object="${vinculo}">
                <center><table style="border: none">
                        <tr style="border: none"> 
                            <td rowspan="3" style="border: none"><div class="gobiernoCorp"></div></td>
                            <td colspan="3" style="border: none" class="center"><p><a href="/SGD/asambleaaccionistasreglas" class="ui-button-reglasOP">ASAMBLEA DE ACCIONISTAS</a></p></td>
                        </tr>
                        <tr>
                            <td style="border: none"></td>
                            <td style="border: none" class="center"><p><a id="Consejo" class="ui-button-reglasOP">CONSEJO DE ADMINISTRACION</a></p></td>
                            <td style="border: none" class="center"><p><a id="EnlacesCorpo" class="ui-button-reglasOP">ENLACES CORPORATIVOS</a></p></td>
                        </tr>
                        <tr>
                            <td style="border: none" class="center"><p><a href="/SGD/comiteinversionesreglas" class="ui-button-reglasOP">COMITE INVERSIONES</a></p></td>
                            <td style="border: none" class="center"><p><a href="/SGD/comiteengordareglas" class="ui-button-reglasOP">COMITES ENGORDA</a></p></td>
                            <td style="border: none" class="center"><p><a href="/SGD/comitecomercialreglas" class="ui-button-reglasOP">COMITE COMERCIAL</a></p></td>
                        </tr>
                    </table>
                </center>
            </form>
        </div>             
    </body>
</html>
