<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <title>Sagarpa</title>
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>        
                <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
                <link rel="shortcut icon" type="image/x-icon" href="static/images/icovaca.ico"  />
                <script th:src="@{static/jquery/jquery-3.4.1.min.js}"></script>
                <script th:src="@{static/js/view/descargageneral.js}"></script>
                <script th:src="@{static/js/view/sagarpa.js}"></script>
                </head>
                <body>
                    <div th:replace="encabezado :: div">...</div>
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h1 class="display-4">SAGARPA</h1>
                    </div> 
                    <div class="row text-center">
                        <div class="offset-sm-2 col-sm-8 offset-md-5 col-md-2 Padding-top-botton">
                            <select id="year" style="width: 100%">
                                <option th:each="valor : ${lista}" th:value="${valor.descripcion}" th:text="${valor.descripcion}">
                                </option>
                            </select>                    
                        </div>   
                    </div>    
                    <div class="row text-center Padding-sagarpa ">
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/docsolicitud.png" class="img-thumbnail" width="100%" height="auto"/>
                                <a id="DocumentoSolicitud" class="btn btn-lg btn-block ui-buttonenlacessagarpa">DOCUMENTOS SOLICITUD</a>
                            </div>               
                        </div>
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/deposito.png" class="img-thumbnail" width="100%" height="auto"/>
                                <a id="Deposito" class="btn btn-lg btn-block ui-buttonenlacessagarpa">DEPOSITO</a>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/deposito.png" class="img-thumbnail" width="100%" height="auto"/>
                                <p><a href="/SGD/gestor?pantalla=13" id="sagarpacomprobantepagos" class="btn btn-lg btn-block ui-buttonenlacessagarpa">COMPROBANTE PAGOS</a></p>
                                <!--<a id="ComprobatePagos" class="btn btn-lg btn-block ui-buttonenlacessagarpa">COMPROBANTE PAGOS</a>-->
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/reporteventas.png" class="img-thumbnail" width="100%" height="auto"/>
                                <p><a href="/SGD/gestor?pantalla=14" id="sagarpareportesmensuales" class="btn btn-lg btn-block ui-buttonenlacessagarpa">REPORTES MENSUALES</a></p>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/escritos.png" class="img-thumbnail" width="100%" height="auto"/>
                                <p><a href="/SGD/gestor?pantalla=15" id="sagarpaescritosenviados" class="btn btn-lg btn-block ui-buttonenlacessagarpa">ESCRITOS ENVIADOS</a></p>
                            </div>               
                        </div>  
                        <div class="col-md-2 Padding-sagarpa">
                            <div class="btn-group-vertical">                            	
                                <img src="static/images/escritos.png" class="img-thumbnail" width="100%" height="auto"/>
                                <p><a href="/SGD/gestor?pantalla=16" id="sagarparespuestas" class="btn btn-lg btn-block ui-buttonenlacessagarpa">RESPUESTAS SAGARPA</a></p>
                            </div>               
                        </div>  


                </body>
                </html>
